{% extends 'movies/auth.html' %}
{% block title %}Log In{% endblock %}

{% block body %}
    <br><br><br><br>
    <div id="movie-login-in">
        <div class="container">
                <div class="login-card bg-light">
                    <div class="new-center">
                        <div id="login-body">
                        <h3 class="form-group">登录</h3>
                        {% if error_message %}
                            <div class="col-sx-12">
                                <p class="text-danger col-sm-offset-2 col-sm-8">
                                    <strong>{{ error_message }}</strong>
                                </p>
                            </div>
                        {% endif %}
                        <form role="form" action="{% url 'movies:login-user'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="id_username">用户名:</label>
                                <input class="form-control" id="id_username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_password">密码:</label>
                                <input class="form-control" id="id_password" name="password" type="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success form-control">登录</button>
                            </div>
                        </form>
                        </div>
                        <div class="panel-footer">没有账户?
                            <a href="{% url 'movies:register' %}">点击这里</a> 注册
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
