{% extends 'movies/auth.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <br><br><br><br>
    <div id="register">
        <div class="container">
            <div>
                <div class="login-card bg-light">
                    <div class="new-center">
                    <div id="register-body">
                        <h3 class="form-group">注册账户</h3>
                        {% if error_message %}
                            <div class="col-sx-12">
                                <p class="text-danger col-sm-offset-2 col-sm-8">
                                    <strong>{{ error_message }}</strong>
                                </p>
                            </div>
                        {% endif %}
                        <form role="form" action="{% url 'movies:register' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'movies/form_template.html' %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success form-control">注册</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        已经又一个账户? <a href="{% url 'movies:login-user' %}">点击这里</a> 登录
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

